* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, #736FE0, #31C6DA);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
}

.haiku {
  background-color: #19202A;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.25);
}

.haiku__line {
  border: 1px solid #242D3A;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  transition: box-shadow 0.3s ease;
}

.correct {
  box-shadow: 0 0 20px 5px green;
}

.incorrect {
  box-shadow: 0 0 20px 5px red;
}